body{
    text-align: center;
}
.fotos {
    border-width: thin;
    width:auto;
    height:auto;
}
#sunrise{
    width: 400px;
    height: 400px;
}
#rainbow{
    width: 400px;
        height: 400px;
}
#fotografy{
    width: 400px;
        height: 400px;
}
#wow{
    width: 400px;
        height: 400px;
}